<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
		<title>CoinDrop  Earn Cryptocurrency Daily – Join the Airdrop Revolution!</title>
    
		<meta name="description" content="Unlock daily crypto rewards with CoinDrop, the ultimate airdrop platform! Discover decentralized finance opportunities and maximize your crypto earnings today.">
    <link rel="stylesheet" href="../stylesheets/coindropstyle.css">

		<script src="https://kit.fontawesome.com/363890c876.js" crossorigin="anonymous"></script>

		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=AW-16967838342"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'AW-16967838342');
		</script>
		<!-- Event snippet for CoinDrop Landing Page Download Button Conversion conversion page
In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
		<script>
			function gtag_report_conversion(url) {
				var callback = function () {
					if (typeof(url) != 'undefined') {
						window.location = url;
					}
				};
				gtag('event', 'conversion', {
						'send_to': 'AW-16967838342/nnhRCM6dnbcaEIbV8po_',
						'event_callback': callback
				});
				return false;
			}
		</script>
</head>
<body>
		<div id="nav-wrapper">
				<h2>CoinDrop</h2>
				<a href="https://explorer.solana.com/address/mntq6hnGWU9761TRZdzeAkhTmAuTUKRQqZe1D7787UV" target="_blank"><h5>Mint Addres: mntq6hnGWU9761TRZdzeAkhTmAuTUKRQqZe1D7787UV</h5></a>
		</div>

		<div id="top-container">
				<div id="screenshot-wrapper">
						<img id="home-screenshot" src="../assets/coindrop/coindrop_home_screenshot.png">
						<div id="bg-screenshot-wrapper">
								<img class="bg-screenshots" src="../assets/coindrop/coindrop_membership_screenshot.png">
								<img class="bg-screenshots" src="../assets/coindrop/coindrop_store_screenshot.png">
						</div>
				</div>

				<button onclick="openGooglePlayStore(); gtag_report_conversion()">Download <i class="fa-brands fa-google-play"></i></button>
		</div>

		<div id="middle-container">
				<h2>The ultimate airdrop app.</h2>
				<h4>Crypto earnings at your fingertips!</h4>	

				<div class="feature-wrapper">
						<div class="feature-container">
							<img src="../assets/coindrop/button_thumb.jpg">
							<h4>Press a button.</h4>
						</div>
						<div class="feature-container">
							<img src="../assets/coindrop/tasks_thumb.jpg">
							<h4>Complete simple tasks.</h4>
						</div>
				</div>
				<div class="feature-wrapper">
						<div class="feature-container">
							<img src="../assets/coindrop/contribute_thumb.jpg">
							<h4>Contribute to development.</h4>
						</div>
						<div class="feature-container">
							<img src="../assets/coindrop/referrals_thumb.jpg">
							<h4>Refer your friends.</h4>
						</div>
				</div>

				<button onclick="openGooglePlayStore(); gtag_report_conversion()">Get Access Now!</button>
		</div>

		<div id="bottom-container">
				<h2>Build a high value portfolio with CoinDrop.</h2>

				<h1>Membership</h1>
				<h5>More perks coming soon!</h5>
				<div id="membership-wrapper">
						<div class="plan-container">
								<h3>Free</h3>
								<hr>
								<ul>
										<li><b>1x</b> button click rewards.</li>
										<li><b>1x</b> task rewards.</li>
										<li><b>1x</b> referral rewards.</li>
										<li><b>$DROP</b> airdrop on <b>05 July 2026</b>.</li>
										<li><b>No</b> airdrop of a secondary on <b>05 July 2026</b>.</li>
										<li><b>3 second</b> energy recovery.</li>
								</ul>
								<button onclick="openGooglePlayStore(); gtag_report_conversion()">Download</button>
						</div>
						<div class="plan-container">
								<h3>Premium</h3>
								<hr>
								<ul>
										<li><b>100x</b> button click rewards.</li>
										<li><b>100x</b> task rewards.</li>
										<li><b>100x</b> referral rewards.</li>
										<li><b>$DROP</b> airdrop on <b>05 July 2026</b>.</li>
										<li><b>1:1</b> airdrop of a secondary token on <b>05 July 2026</b>.</li>
										<li><b>Infinite</b> energy, no need for recovery.</li>
								</ul>
								<button onclick="openGooglePlayStore(); gtag_report_conversion()">Let's Go!</button>
						</div>
				</div>
		</div>

		<h4 id="credits">created by <a href="https://gspteck.com">gspteck</a>.</h4>
          
    <script src="../scripts/coindropscript.js"></script>
</body>
</html>

